<div id="wrapper"  class="mx15">
  <div id="main" class="clearfix  bg-white pt3 pb4" >

    <div id="side" class="left fixed fifth-width">
      <header class="ml1 bg-white">
        <h1 class="m0 regular">Sm<a href>:)</a>eyblog</h1>
        <form class="ml1 nine-tenth-width right-align">
          <p class="m0 left-align small-height h4 mid-gray"></p>
          <input type="email" class="block full-width input-sm field-light" placeholder="email" />
          <input type="password" class="block full-width mb0 input-sm field-light" placeholder="password" />
          <p class="m0 h6"><a href>forgot my password</a></p>
          <input type="submit" value="login" />
          or
          <input type="submit" value="sign up" />
        </form>
      </header>
      <nav class="m0 py3">
        <ul class="ml3 list-gray-square">
          <li><a href >All</a></li>
          <li><a href >Recent</a></li>
          <li><a href >React</a></li>
          <li><a href >Heroku</a></li>
          <li><a href >Angular</a></li>
        </ul>
      </nav>
    </div>
    <div id="content-list" class="right two-third-width" ng-controller="BlogController as blogCtrl">
      <section class="mx2 mb2 p1 white-shadow" ng-repeat="blog in blogCtrl.blogs">
        <div class="p2 bg-subtle-gray">
          <h1 class="m0 h2 regular">{{blog.blog.title}}</h1>
          <p class="italic h4">
            <a href ng-repeat="tag in blog.tags">tag</a>
          </p>
          <h2 class="h4 mid-gray regular italic">{{ blog.blog.created_at | date  }}</h2>
          <article class="h4 m2">{{blog.blog.content}}</article>
        </div>
        <div>
          <h3 class-"regular"><a class="button regular">Comments</a></h3>
          <ul class="ml3 list-reset mid-gray">
            <li>
              <p class="m0 h4"><span class="italic">mookie</span>: "Your blog is the best!"</p>
            </li>
            <li>
              <p class="m0 h4"><span class="italic">nyu ta</span>: "Your blog is the best!"</p>
            </li>
          </ul>
        </div>

      </section>
      <section class="mx2 p1 white-shadow ">
        <div class="p2 bg-subtle-gray">
          <h1 class="m0 h2 regular">Blog One</h1>
          <p class="italic h4">
            <a href>Rails</a>, <a href>React</a>, <a href>Git</a>, <a href>Heroku</a>
          </p>
          <h2 class="h4 mid-gray regular italic">Oct 12, 2014</h2>
          <article class="h4 m2">
            We're going to build a simple version of Craigslist. This will be your first web application that uses multiple models.

            Keep in mind that this is not substantially different than a command-line version. Instead of reading in command-line arguments, we read in URL parameters. Instead of printing to the console, we print HTML and CSS.
          </article>
        </div>
        <div>
          <h3 class-"regular"><a class="button regular">Comments</a></h3>
          <ul class="ml3 list-reset mid-gray">
            <li>
              <p class="m0 h4"><span class="italic">mookie</span>: "Your blog is the best!"</p>
            </li>
            <li>
              <p class="m0 h4"><span class="italic">nyu ta</span>: "Your blog is the best!"</p>
            </li>
          </ul>
        </div>

      </section>

    </div>

  </div>

  <footer class="center italic">
    <p class="h4 mt2">by eiko seino 2014</p>
  </footer>
</div>