<div id="wrapper"  class="mx15">
  <div id="main" class="clearfix  bg-white pt3 pb4">
    <div id="side" class="left fixed fifth-width">
      <app-header></app-header>
      <tag-list></tag-list>
    </div>
    <main-content></main-content>
  </div>
  <footer class="center italic">
    <p class="h4 mt2">by eiko seino 2014</p>
  </footer>
</div>