<div id="wrapper"  class="mx15">
  <div id="main" class="clearfix  bg-white pt3 pb10">
    <div id="side" class="left fixed fifth-width">
      <app-header ng-controller="AppHeaderController as AHCtrl"></app-header>
      <tag-list ng-controller="TagListController as tagCtrl"></tag-list>
    </div>
    <main-content ng-controller="MainContentController as MCCtrl"></main-content>
  </div>
  <footer class="center italic">
    <p class="h4 mt2">by eiko seino 2014</p>
  </footer>
</div>