<div id="wrapper"  class="col-8 mx-auto bg-white">
  <div id="main" class="full-width pt3 pb3 clearfix">
    <div id="side" class="left col-3-4">
      <app-header ng-controller="AppHeaderController as AppHdrCtrl"></app-header>
      <tag-list ng-controller="TagListController as tagCtrl"></tag-list>
    </div>
    <main-content ng-controller="MainContentController as MCCtrl"></main-content>
  </div>
<footer class="height-2 center mid-gray italic">
  <p class="h4 m0 p0 line-height-2">by eiko seino 2014</p>
</footer>
</div>