<div class="right two-third-width" ng-controller="BlogsController as blogsCtrl">
  <section class="mx2 mb2 p1 white-shadow" ng-controller="BlogFormController as BFCtrl" ng-repeat="blog in blogsCtrl.blogs">
    <div class="p2 bg-subtle-gray">
      <h1 class="m0 h2 regular">{{blog.blog.title}}</h1>
      <p class="italic h4">
        <a href class="mr2" ng-repeat="tag in blog.tags">{{tag}}</a>
      </p>
      <h2 class="h4 mid-gray regular italic">{{ blog.blog.created_at | date }}</h2>
      <article class="h4 m2 pre">{{blog.blog.content}}</article>
      <ul class="right-align h4" ng-show="blogsCtrl.isAdmin()">
        <li class="inline mr1"><a href ng-click="blogsCtrl.turnOnEditMode(blog, BFCtrl)">edit</a></li>
        <li class="inline mr1"><a href ng-click="blogsCtrl.destroy(blog)">delete</a></li>
      </ul>
      <blog-form ng-show="blog.editMode"></blog-form>
    </div>
    <div>
      <h3 class-"regular"><a href ng-click="blogsCtrl.toggleComments(blog)" class="button regular" >Comments</a></h3>
      <ul class="ml3 list-reset mid-gray"  ng-show="blog.commentsDisplayed" ng-repeat="comment in blog.comments">
        <li>
          <p class="m0 h4"><span class="italic bold">{{comment.author}}</span>: "{{comment.content}}" <a href class="h4" ng-show="blogsCtrl.isAdmin() && comment.reply === null" ng-click="blogsCtrl.showReplyForm(replyForm, comment)">reply</a></p>
          <p class="m0 ml3 h4" ng-show="comment.reply !== null"><span class="italic">smileyface525</span>: "{{comment.reply}}"</p>
          <form name="replyForm" class="ml3 four-fifth-width h4" ng-show="comment.replyFormDisplayed" ng-submit="replyForm.$valid && blogsCtrl.submitReply(replyForm, comment)" novalidate>
            <textarea class="full-width field-light" ng-model="blogsCtrl.replyContent" required></textarea>
            <div class="right-align">
            <button name="reply" type="submit" class="button-gray button-small regular" >submit</button>
            or
            <button type="button" class="button-gray button-small regular" ng-click="blogsCtrl.hideReplyForm(comment)">cancel</button>
            </div>
          </form>
        </li>
      </ul>
    </div>

  </section>
  <a href class="button" ng-show="blogsCtrl.isAdmin()" ng-click="blogsCtrl.showNewBlog(BFCtrl)">New Blog</a>
  <new-blog ng-show="blogsCtrl.newBlogDisplayed"></new-blog>
</div>