<div>
  <p class="h2 mx1 mt1 mb0">Hello, <a href ng-mouseover="usrNavbar.showOptions()" >{{usrNavbar.username}}</a>!</p>
  <div class="height-2">
    <ul class="height-2 center m0 sm-col-9 mx-auto p0 bg-lighter-gray" ng-show="usrNavbar.optionsDisplayed" ng-mouseleave="usrNavbar.hideOptions()">
      <li class="inline h3 line-height-2 mr1">
        <a href ng-click="usrNavbar.showUserPage(this)">profile</a>
      </li>
      <li class="inline h3 line-height-2 mr1">
        <a href ng-click="usrNavbar.logout()">logout</a>
      </li>
    </ul>
  </div>
</div>