<div class="right two-third-width" ng-controller="UserController as userCtrl">
  <section class="mx2 mb2 p1 white-shadow" >
    <div class="p4 bg-subtle-gray">
      <h1 class="m0 center h2 mid-gray regular">{{userCtrl.pageTitle()}}</h1>
      <div class="px3">
        <div class="py3 mid-gray border-bottom" ng-show="userCtrl.pageTypeIs('update')">
          <p class="m0 py1"><span class="italic">email:</span><span class="pl2">{{userCtrl.user.email}}</span></p>
          <p class="m0 py1"><span class="italic">username:</span><span class="pl2">{{userCtrl.user.username}}</span></p>
        </div>
        <user-form ng-controller="UserFormController as userFormCtrl"></user-form>
      </div>
    </div>

  </section>
</div>